

{% extends "base.html" %}

{% block content %}

{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}

<h1>Kirjaudu sisään</h1>

  <form method="post" action="{{base_path}}/login">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input class="form-control" name="nimimerkki" type="text">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" name="salasana" type="password">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
  </form>

<h1>Jos sinulla ei jo ole tunnusta, niin <a href="{{base_path}}/rekisteroidy">rekisteröidy täällä</a></h1>
{% endblock %}