{% extends "base.html" %}

{% block content %}
<h1>Muokkaa reseptiä</h1>

<form>
    <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" value="Appelsiinimehu" type="text">
    </div>
</form>

<br>
<table class="table">
    <thead>
        <tr>
            <th>Raaka-aine</th>
            <th>Määrä</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="http://juma.users.cs.helsinki.fi/tsoha/raakaaine/appelsiini">Appelsiini</a></td>
            <td>500 g</td>
            <th><a class="btn btn-danger btn-xs" href="#">Poista</a></th>
        </tr>
    </tbody>
</table>
<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="raakaaine2">Raaka-aine</label>
        <input type="text" class="form-control" placeholder="Raaka-aine">
    </div>
    <div class="form-group">
        <label class="sr-only" for="maara2">Määrä</label>
        <input type="text" class="form-control"  placeholder="Määrä">
    </div>

    <button type="submit" class="btn btn-success">Lisää</button>
</form>
<br>
<br>
<form>
    <div class="form-group">
        <label>Valmistus</label>
        <textarea class="form-control">Purista appelsiinit mehuksi esimerkiksi mehulingossa tai käsin.</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>


{% endblock %}