{% extends "base.html" %}

{% block content %}
  <h1>Appelsiinimehu</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="http://juma.users.cs.helsinki.fi/tsoha/reseptit/appelsiinimehu/muokkaa" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
      <li><strong>500 g</strong> <a href="http://juma.users.cs.helsinki.fi/tsoha/raakaaineet/appelsiini">appelsiini</a></li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
      Purista appelsiinit mehuksi esimerkiksi mehulingossa tai käsin.
  </p>
{% endblock %}