{% extends "base.html" %}

{% block content %}
  <h1>Hummus</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
      <li><strong>500 g</strong> <a>kikherneet</a></li>
    <li><strong>2 rkl</strong> <a>sitruunamehu</a></li>
    <li><strong>2 kynttä</strong> <a>valkosipuli</a></li>
    <li><strong>2 rkl</strong> <a>tahini</a></li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
  Pilko valkosipuli, suurruuta kaikki tehosekoittimessa pehmeäksi, lisää tarpeen mukaan vettä ruokalusikallinen kerrallaan.  
  </p>
{% endblock %}