{% extends "base.html" %}

{% block content %}
<h1>{{raakaaine.nimi}}</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% if user_logged_in %}
<form method="post" action="{{base_path}}/raakaaine/{{raakaaine.nimi}}/poista">
    <button type="submit" style="float:left; margin-right: 1em" class="btn btn-danger">Poista</button>
</form>

<a href="{{base_path}}/raakaaine/{{raakaaine.nimi}}/muokkaa" class="btn btn-default">Muokkaa</a>
{% endif %}

<div id="kuvaus">
<p>{{raakaaine.kuvaus}}</p>
</div>


{% if reseptit %}
<br>
<h4>Käytetään resepteissä:</h4>

<ul>
    {% for resepti in reseptit %}
    <li><a href="{{base_path}}/resepti/{{resepti.nimi}}">{{resepti.nimi}}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}