{% extends "base.html" %}

{% block content %}
<h1>Raaka-aineet</h1>

{%if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<p>
    <a href="{{base_path}}/raakaaine/uusi" class="btn btn-success">Lisää uusi</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan raaka-aineet tähän -->
        {% for raakaaine in raakaaineet %}
        <tr>
            <td><a href="{{base_path}}/raakaaine/{{raakaaine.nimi}}">{{raakaaine.nimi}}</a></td>
            <th><a class="btn btn-default btn-sm" href="">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}