{% extends "base.html" %}

{% block content %}
<h1>{{raakaaine.nimi}}</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<!--Painikkeet tähän-->
<p>

<form method="post" action="{{base_path}}/raakaaine/{{raakaaine.nimi}}/poista">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>


<a href="{{base_path}}/raakaaine/{{raakaaine.nimi}}/muokkaa" class="btn btn-default">Muokkaa</a>

<!-- Kuvaus tulee tähän -->
<p>{{raakaaine.kuvaus}}
</p>

{% endblock %}