{% extends "base.html" %}

{% block content %}
<h1>{{raakaaine.nimi}}</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<!--Painikkeet tähän-->

<form method="post" action="{{base_path}}/raakaaine/{{raakaaine.nimi}}/poista">
    <button type="submit" style="float:left; margin-right: 1em" class="btn btn-danger">Poista</button>
</form>

<a href="{{base_path}}/raakaaine/{{raakaaine.nimi}}/muokkaa" class="btn btn-default">Muokkaa</a>

<!-- Kuvaus tulee tähän -->
<div id="kuvaus">
<p>{{raakaaine.kuvaus}}</p>
</div>

{% endblock %}