{% extends "base.html" %}

{% block content %}
<h1>{{resepti.nimi}}</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<!-- Painikkeet tähän -->
{% if user_logged_in %}
<a href="{{base_path}}/resepti/{{resepti.tunnus}}/muokkaa" class="btn btn-default">Muokkaa</a>
<br>
<br>
{% endif %}
<!-- Ainekset tulee listana tähän -->

<ul>
    {% for ainesosa in resepti.ainesosat %}

    <li><strong>{{ainesosa.maara}}</strong> <a href="{{base_path}}/raakaaine/{{ainesosa.raakaaine}}">{{ainesosa.raakaaine}}</a></li>

    {% endfor %}
</ul>

<!-- Valmistusohje tulee tähän -->
<p>
    {{resepti.valmistusohje}}
</p>
{% endblock %}