{% extends "base.html" %}

{% block content %}
<h1>Lisää uusi resepti</h1>
<form method="post" action="{{base_path}}/resepti">
    <div class="form-group">
        <label>Reseptin nimi</label>
        <input name="nimi" class="form-control" value="{{resepti.nimi}}" type="text">
    </div>
    <div class="form-group">
        <input name="kayttaja" type="hidden" class="form-control" value="{{user_logged_in.nimimerkki}}" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}